*{
    margin: 0;
    padding: 0;
}

/*-----HEADER-----*/
.header{
    width: 100%;
    height: 100%;
    background-image: url('../images/fondoHeader.jpg');
    background-color: rgb(83, 83, 83);
    background-blend-mode: overlay;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.headerLogo{
    font-family:'Courgette', cursive; 
    color: rgb(240, 255, 255) ;
    -webkit-text-stroke: .1px rgb(19, 97, 4);
}

.headerSlogan{
    font-family: 'Courgette', cursive; 
    color: rgb(240, 255, 255);
        
}

    /*-----NAV-----*/
.nav{
    height: 100%;
    width: 100%;
    background-color: rgb(106, 212, 106);    
    border-top: solid white 3px;   
}

.navItems{
    list-style-type: none;
}    

.navItems li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: 'Permanent Marker', cursive;
    padding-right: 3vw;

}

/*-----ARTICLE-----*/
.mainArticle{
    height: 100%;
    width: 100%;
}

.mainArticle p, .textoServicios, .sectionLMapa p, .textoPrecios{
    font-family: 'Courgette', cursive; 
    color: black;
}

/*-----FOOTER-----*/
.footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(203, 234, 241);
    justify-content: space-evenly ;
    align-items: center;
    border-bottom: solid white 3px;  
    border-top: solid white 3px; 
    
}

.footerCopyRight{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10px;
}

.socialMediaLinks{
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 20%;
}

.socialMediaLinks li i{
    font-size: 30px;
    
}
/*  ICONOS FOOTER   */
.fa-twitter-square{
    color:  #3b5998;
}
.fa-twitter-square{
    color: #00acee;
}
.fa-instagram-square{
    color:#bc1888;
}
.fa-whatsapp-square{
    color:#25D366;
}
.fa-envelope-square{
    color: black;
}

.tituloFormulario, .tituloServicios, .tituloPrecios, .textoVerifique, .tituloVideo{
    font-family: 'Permanent Marker'; 
    font-size: 5vw;
    color: black;
    width: 100%;   
    text-align: center;
    padding: 2vh 0;    
}

@media only screen and (max-width: 600px) {
    #body{
        background: rgb(207,241,249);
        background: linear-gradient(45deg, rgb(187, 233, 243) 0%, rgba(250,255,253,1) 34%, rgba(181, 240, 207, 0.74) 100%);display: grid;
        display: grid;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        grid-template-columns: 100vw;
        grid-template-rows: 1fr 4fr 0.25fr .5fr;  
        grid-template-areas: "header"
                            "main"
                            "nav"
                            "footer";
    }

    .header{
        height: 100%;
        width: 100%;
        border: solid white 3px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        grid-area: header;
    }

    .headerLogo{ 
        font-size: 10vw;  
        padding-left: 5vw; 
        padding-top: 8vh;

    }
    .headerSlogan{
        font-size: 3vw; 
        padding-left: 3vw; 
        
    }
    .menuMobile{
        color: white;
        -webkit-text-stroke: 1px rgb(19, 97, 4);
        font-size:6vh;
        padding-right: 10px;
        position: absolute;
        right: 10px;
        top: 25px;
    }

    .nav{
        grid-area: nav;
        height: 7vh;
        width: 100%;
        background-color: rgb(203, 234, 241);  
        border-top: solid white 3px; 
    }

    .navItems{
        height: 100%;
        display: flex;
        flex-direction:row;
        justify-content:space-evenly;
        align-items: center;
    }

    .navItems li a{
        font-size: 2vh;
        list-style-type: none;
    }

    .main{
        grid-area: main;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 2vh 0;
    }

    .mainPanoramica{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;  
        justify-content: center;  
    }

    .mainPanoramica img{
        width: 90%;
        height: 90%;
    }

    .mainArticle{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainArticle p, .textoServicios, .articleServicios{
        font-size: 3.5vw;
        width: 90%;
        text-align: left;
        padding: 2vh 0;    
    }

    .footer{
        grid-area: footer;
        height: 100px;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .footerCopyRight{
        order: 2;
    }

    .socialMediaLinks li{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 10px;
    }

    .footerExternalLink{
        display: none;
    }

    /*Ubicacion*/
    .formularioPC{
        display: none;
    }

    .sectionLMapa{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sectionLMapa iframe{
        height: 40vh;
        width: 90%;
        order: 2;
    }
    .tituloComoLlegar{
        font-size: 3.5vw;
        font-family: 'Permanent Marker';
    }

    .textoComoLLegar{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .parrafoComoLlegar{
        text-align: center;
        font-size: 2.5vw;
        width: 90%;
        padding-bottom: 2vh;
    }
    .tituloFormulario{
        text-align: center;
        padding-top: 1.5vh;
    }

    .formularioContacto{
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .formulario{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2vh;
        width: 90%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    /*servicios*/

    .tituloServicios{
        font-size: 7vw;
    }

    .iconosServicios {
        font-size: 12vw;
        padding: 1vw;
        text-align: center;
        color: rgb(25, 54, 2) ;
        -webkit-text-stroke: 2px rgb(19, 97, 4);
    }

    .mainArticleServicios{
        display: flex;
        flex-direction: column;
        align-items: center;
}

    /*precios*/

    .calendario{
        order: 2;
    }

    .calendario iframe{
        width: 100%;
        padding: 5vh 0 2vh 0;
    }

    .articlePrecios{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textoPrecios{
        padding-top: 3vh;
        width: 90%;
    }

    .textoVerifique{
        padding-top: 5vh;
    }

    /*galeria*/

    .fotos{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4 30vh);
        gap: 15px;
        justify-content: space-evenly;
        align-items: center;
    }

    .fotos img{
        width: 100%;
        height: 30vh;
        padding-bottom: 2vh;
    }

    .fotos iframe{
        width: 100%;
        height: 40vh; 
    }

    .galeriaTablet, .fotosGaleriaPC{
        display: none;
    }

}

@media only screen and (max-width: 1023px) and (min-width: 601px) {
    #body{
        background: rgb(207,241,249);
        background: linear-gradient(45deg, rgba(207,241,249,1) 0%, rgba(250,255,253,1) 34%, rgba(215,237,225,0.74) 100%);
        display: grid;
        display: grid;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        grid-template-columns: 100vw;
        grid-template-rows: 1.2fr .3fr 5fr 1fr;  
        grid-template-areas:"header"
                            "nav"
                            "main"
                            "footer";
    }

    .header{
        height: 100%;
        width: 100%;
        border: solid white 3px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        grid-area: header;
    }

    .headerLogo{ 
        font-size: 10vw;  
        padding-left: 5vw; 
        padding-top: 8vh;
    }

    .headerSlogan{
        font-size: 3vw; 
        padding-left: 3vw;     
    }    
    
    .nav{
        grid-area: nav;
        width: 100%;
        height: 80%;
        background-color: rgb(203, 234, 241);  
        border-top: solid white 3px;     
    }

    .navItems{
        height: 100%;
        display: flex;
        flex-direction:row;
        justify-content:space-evenly;
        align-items: center;    
    }

    .navItems li a{
        font-size: 3vh;
        list-style-type: none;
    }

    .main{
        grid-area: main;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .mainPanoramica{
        display: flex;
        align-items: center;  
        justify-content: center;
        padding-bottom: 7vh;      
    }
    
    .mainPanoramica img{
        width: 90%;
        height: 100%;
    }

    .mainArticle{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainArticle p, .textoServicios, .articleServicios, .textoPrecios{
        font-size: 2.5vw;
        width: 90%;
        text-align: left;
        padding-bottom: 3vh;    
    }

    .footer{
        grid-area: footer;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .footerCopyRight{
        order: 2;
        font-size: 2vh;
    }

    .socialMediaLinks li{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 3vw;
    }

    .socialMediaLinks li i{
        font-size: 10vh;
    }
    
    .footerExternalLink{
        display: none;
    }

    /*Ubicacion*/

    .formularioPC{
        display: none;
    }

    .sectionLMapa{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .tituloComoLlegar{
        font-family: 'Permanent Marker'; 
        font-size: 3.5vw;
        color: black;
        width: 100%;   
        text-align: center;
    }

    .textoComoLLegar{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .parrafoComoLlegar{
        text-align: center;
        font-size: 2.5vw;
        width: 90%;
        padding-bottom: 2vh;
    }
    .tituloFormulario{
        text-align: center;
        padding-top: 1.5vh;
    }

    .sectionLMapa iframe{
        height: 50vh;
        width: 90%;
        order: 2;
    }

    .sectionLMapa h2{
        font-family: 'Permanent Marker', cursive;
        padding-bottom: 1vh;
    }

    .tituloFormulario{
        text-align: center;
        padding-top: 2vh;
    }

    .formularioContacto{
        width: 90%;
        display: flex;
        flex-direction: column;
        padding-bottom: 5vh;        
    }
    .formulario{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2vh;
        width: 90%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }


    /*servicios*/

    .tituloServicios{
        font-size: 7vw;
        padding: 0 0 5vh 0;
    }

    .iconosServicios {
        font-size: 15vw;
        padding-bottom: 3vw;
        text-align: center;
        color: rgb(25, 54, 2) ;
        -webkit-text-stroke: 2px rgb(19, 97, 4);
    }

    .mainArticleServicios{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .textoServicios{
        font-size: 2.5vw;
    }

    /*precios*/

    .calendario{
        order: 2;
    }

    .calendario iframe{
        width:80vw;        
        padding: 5vh 0 2vh 0;
    }

    .articlePrecios{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textoPrecios{
        padding-top: 3vh;
        width: 90%;
    }

    .textoVerifique{
        padding-top: 5vh;
    }

    /*galeria*/

    .fotosGaleria , .fotosGaleriaPC{
        display: none;
    }

    .tituloGaleria{
        font-family: 'Permanent Marker', cursive;
        font-size: 5vw;
        color: black;
        text-align: center;
        padding-bottom: 4vh;
    }

    .fotosGaleriaTablet{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(3 30vh);
        gap: 15px;
        justify-content: space-evenly;
        align-items: center;
        justify-items: center;
        padding-bottom: 3vh;
    }

    .fotos img{
        width: 100%;
        height: 40vh;
        padding-bottom: 2vh;
    }

    .fotos iframe{
        width: 100%;
        height: 40vh; 
    }

    .fotos h2 a{
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
        font-size: 5vw;
    }

}

@media only screen and (min-width: 1024px) {
    #body{
        background: rgb(207,241,249);
        background: linear-gradient(45deg, rgb(187, 233, 243) 0%, rgba(250,255,253,1) 34%, rgba(181, 240, 207, 0.74) 100%);
        display: grid;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 35vh 7vh 100vh 15vh;  
        grid-template-areas:"header "
                            "nav"
                            "main "
                            "footer";
    }

    .header{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        grid-area: header;
    }

    .headerLogo{ 
        font-size: 5vw;  
        padding-right: 8vw;
        -webkit-text-stroke: .5px rgb(19, 97, 4);
    }

    .headerSlogan{
        font-size: 1.5vw; 
        padding-right: 7vw;       
    }    
    
    .nav{
        grid-area: nav;
        width: 100%;
        height: 100%;
        background-color: rgb(156, 226, 241);  
        border-top: solid white 3px;  
        border-bottom: solid white 3px;       
    }

    .navItems{
        height: 100%;
        display: flex;
        flex-direction:row;
        justify-content:flex-end;
        align-items:center;    
    }
    
    .btnInicio:hover, .btnUbicacion:hover, .btnServicios:hover, .btnPrecios:hover, .btnGaleria:hover{
        transform: scale(1.4, 1.4);
        transition: .3s;
        text-shadow: rgb(248, 243, 216) 0vw 0vh 30px;
        

    }

    .navItems li a{
        font-size: 1.6vw;
        list-style-type: none;
        -webkit-text-stroke: .5px rgb(255, 255, 255);
    }

    .mainIndex{
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        
    }
    .mainPanoramica{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;    
    }

    .mainPanoramica img{
        width: 70%;
        height: 55vh; 
        border-radius: 15px;
        box-shadow: 10px 3px 10px 10px rgba(87, 93, 95, 0.2);
    }
    
    .mainArticle{
        width: 100%;
        height: 55vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 2vh 0;

    }

    .mainArticle p, .textoServicios, .sectionLMapa p, .articleServicios, .textoPrecios{
        font-size: 1.3vw;
        width: 90%;
        text-align: justify;        
    }

    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 95%;
        background-color: rgb(156, 226, 241);
    }
    
    .footerCopyRight{
        font-size: .8vw;
    }

    .socialMediaLinks li{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 1vw;
    }

    .btnFB:hover, .btnTW:hover, .btnIG:hover, .btnWA:hover, .btnMail:hover{
        transform: scale(1.3, 1.3);
        transition: .3s;
    }

    .socialMediaLinks li i{
        font-size: 6vh;
    }
    
    .footerExternalLink a{
        font-size: 1.2vw;
        padding-right: 2vw;
        color: rgb(1, 1, 105);
    }

    /*Ubicacion*/
    .formulario{
        display: none;
    }

    .mainUbicacion{
        height: 100%;
        width: 100%;        
    }

    .sectionLMapa{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 60vh 40vh;
        grid-template-areas:"mapaGoogle mapaGoogle"
                            "textoComoLLegar formularioPC";
        justify-items: center;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .mapaGoogle{
        height: 50vh;
        width: 65vw;
        margin-top: 3vh;
        grid-area: mapaGoogle; 
        border-radius:  8vh;   
        box-shadow: 10px 3px 10px 10px rgba(87, 93, 95, 0.2);
        
    }

    .textoComoLLegar{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 100%;
        grid-area: textoComoLLegar;
        padding-top: 3vh;
    }

    .sectionLMapa h2{
        font-family: 'Permanent Marker', cursive;
        padding: 3vh 0;    
    }

    .formularioPC{
        grid-area: formularioPC;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .tituloFormulario{
        height: 100%;
        width: 5vw;
        text-align: center;
        -webkit-text-stroke: .5px rgb(255, 255, 255);
        font-size: 2.5vw;    
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        padding-bottom: 2vw;
    }

    .formularioContacto{
        width: 30vw;
        display: flex;
        flex-direction: column;        
    }
    
    .btnEnviar{
        background: transparent;
        border: 3px solid green;
        border-radius: 10px;
        font-size: 1.5vw;
        font-family: 'Permanent Marker', cursive;
    }

    .btnEnviar:hover{
        background: rgb(154, 255, 154);
        box-shadow: 1vw 2vh 6vh rgb(154, 255, 154);
        border-radius: 10px;
        font-size: vw;
        font-family: 'Permanent Marker', cursive;
        transform: scale(.9,.9);
        cursor: pointer;
    }


    /*servicios*/

    .mainServicios{
        display: grid;
        grid-template-columns: 25% 30% 45%;
        grid-template-rows:  80vh;
        grid-template-areas:"tituloServicios iconosServicios mainArticleServicios";
        padding-top: 3vh;
    }

    .tituloServicios{
        grid-area: tituloServicios;
        font-size: 7vw;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        -webkit-text-stroke: 1px rgb(255, 255, 255);
    }

    .iconosServicios {
        grid-area: iconosServicios;
        font-size: 7vw;        
        text-align: center;
        color: rgb(25, 54, 2) ;
        -webkit-text-stroke: 4px rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;    
    }


    .fa-user-shield:hover, .fa-wifi:hover, .fa-car:hover, .fa-broom:hover{
        transform: scale(1.2, 1.2);
        color: green;
    }

    .mainArticleServicios{
        grid-area: mainArticleServicios; 
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;       
    }

    /*precios*/

    .mainPrecios{
        display: grid;
        grid-template-columns: 8% 38% 8% 38%;
        grid-template-rows:  80vh;
        grid-template-areas:"tituloPrecios articlePrecio textoVerifique calendario ";
        padding-top: 3vh;
        justify-content: space-around;
        justify-items: center;
        align-items: center;    
    }
    .calendario{
        grid-area: calendario;
        width: 30vw;
        height: 45vh;        
    }

    .calendario iframe{
        width:30vw;
        height: 45vh;
        border-radius: 10px;
    }

    .tituloPrecios{
        grid-area: tituloPrecios;
        font-size: 3.5vw;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        -webkit-text-stroke: 2px rgb(255, 255, 255);
        width: 100%;
    }
    .articlePrecios{
        grid-area: articlePrecio;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .textoPrecios{
        width: 90%;
        font-size: 1.5vw;
        padding-bottom: 3vh;
    }
    .textoVerifique{
        grid-area: textoVerifique;
        padding-top: 5vh;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        font-family: 'Permanent Marker'; 
        font-size: 3.5vw;
        color: black;
        -webkit-text-stroke: .5px rgb(255, 255, 255);        
    }

    .fotosGaleria, .fotosGaleriaTablet{
        display: none;
    }
    .tituloGaleria{
        display: none;
    }
    .fotosGaleriaPC{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 30vh);
        justify-content: space-around;
        align-items: center;
        gap: 15px;
    }

    .fotos img{
        width: 24vw;
        height: 30vh;
        object-fit: cover;
        border-radius: 10px;

    }

    .fotos iframe{

        width: 95%;
        height: 30vh; 
        object-fit: cover;
    }

}