@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style-type: none; }

body {
  background: #cff1f9;
  background: linear-gradient(45deg, #bbe9f3 0%, #fafffd 34%, rgba(181, 240, 207, 0.74) 100%); }

/*mixins*/
/*mapa responsive*/
.contenedorHeader {
  background-image: url("../images/fondoHeaderEditado.jpg");
  background-color: #646464;
  background-blend-mode: overlay;
  font-family: 'Courgette', cursive;
  background-size: cover;
  height: 30vh;
  border: white solid white 3px;
  position: relative; }
  @media only screen and (min-width: 0px) {
    .contenedorHeader {
      height: 25vh; } }
  @media only screen and (min-width: 576px) {
    .contenedorHeader {
      height: 30vh; } }
  .contenedorHeader .logoSlogancontainer {
    height: 100%;
    padding: 0 6vw 3vh 0; }
  @media only screen and (min-width: 0px) {
    .contenedorHeader .headerLogo {
      font-size: 10vw;
      margin-top: 12vh; }
    .contenedorHeader .headerSlogan {
      font-size: 3.5vw;
      padding-left: 1vw; } }
  @media only screen and (min-width: 576px) {
    .contenedorHeader .headerLogo {
      font-size: 8vw; }
    .contenedorHeader .headerSlogan {
      font-size: 2.8vw; } }
  @media only screen and (min-width: 992px) {
    .contenedorHeader .headerLogo {
      font-size: 5vw;
      -webkit-text-stroke: 2px #136104; }
    .contenedorHeader .headerSlogan {
      font-size: 1.8vw; } }
  @media only screen and (min-width: 1200px) {
    .contenedorHeader .headerLogo {
      font-size: 72px; }
    .contenedorHeader .headerSlogan {
      font-size: 24px; } }

@media only screen and (min-width: 0px) {
  .navbar {
    position: fixed;
    z-index: 10;
    margin-top: 2vh;
    margin-left: 4vw;
    padding: 0; }
    .navbar .navbar-toggler-icon, .navbar .navbar-toggler, .navbar .collapse {
      color: black;
      font-size: 5vw;
      background-color: #9ce2f1;
      font-family: "Permanent Marker", cursive; }
    .navbar .collapse {
      border: solid black 3px; }
    .navbar .nav-item a::before {
      content: '■  ';
      color: #e2e258; } }

@media only screen and (min-width: 576px) {
  .navbar {
    display: none; } }

.nav {
  height: 7vh;
  background-color: #9ce2f1;
  border-top: white solid white 3px;
  border-bottom: white solid white 3px; }
  .nav .navItems li a {
    text-decoration: none;
    color: black;
    font-size: 2vw;
    font-family: "Permanent Marker", cursive;
    padding-right: 3vw; }
  @media only screen and (min-width: 0px) {
    .nav {
      display: none; } }
  @media only screen and (min-width: 576px) {
    .nav {
      display: flex;
      position: relative;
      top: 0; }
      .nav .navItems li a {
        height: 100%;
        text-decoration: none;
        color: black;
        font-size: 2.5vw;
        padding-right: 1vw; } }
  @media only screen and (min-width: 992px) {
    .nav .navItems {
      animation: aparece 3s; }
    @keyframes aparece {
      from {
        opacity: 0; }
      to {
        opacity: 1; } }
      .nav .navItems li a {
        font-size: 1.6vw;
        -webkit-text-stroke: 0.5px white;
        padding-right: 3vw; } }
    @media only screen and (min-width: 992px) and (min-width: 1200px) {
      .nav .navItems li a {
        font-size: 24px;
        padding-right: 36px; } }
  @media only screen and (min-width: 992px) {
      .nav .navItems .btnInicio:hover, .nav .navItems .btnUbicacion:hover, .nav .navItems .btnServicios:hover, .nav .navItems .btnPrecios:hover, .nav .navItems .btnGaleria:hover {
        transform: scale(1.4, 1.4);
        transition: .3s;
        text-shadow: #f8f3d8 0vw 0vh 30px; } }

.footer {
  border-top: solid black 3px;
  height: 18vmin;
  padding-top: 1vh; }
  .footer .footerCopyRight {
    color: #292929;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vmin; }
  .footer .socialMediaLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    width: 80%;
    font-size: 7vmin; }
    .footer .socialMediaLinks .fa-twitter-square {
      color: #3b5998; }
    .footer .socialMediaLinks .fa-twitter-square {
      color: #00acee; }
    .footer .socialMediaLinks .fa-instagram-square {
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    .footer .socialMediaLinks .fa-whatsapp-square {
      color: #25D366; }
    .footer .socialMediaLinks .fa-envelope-square {
      color: black; }
  @media only screen and (min-width: 0px) {
    .footer .footerExternalLink {
      font-size: 0; } }
  @media only screen and (min-width: 992px) {
    .footer .footerCopyRight {
      font-size: 1vw; }
    .footer .socialMediaLinks {
      display: flex;
      flex-direction: center;
      justify-content: space-evenly;
      align-items: center;
      width: 30%; }
    .footer .btnFB:hover, .footer .btnTW:hover, .footer .btnIG:hover, .footer .btnWA:hover, .footer .btnMail:hover {
      transform: scale(1.3, 1.3);
      transition: .3s; }
    .footer .footerExternalLink a {
      display: flex;
      font-size: 1.2vw;
      padding-right: 2vw;
      color: blue; } }
  @media only screen and (min-width: 1200px) {
    .footer .footerCopyRight {
      font-size: 12px; }
    .footer .socialMediaLinks {
      font-size: 48px; }
    .footer .footerExternalLink {
      font-size: 16px; } }

@media only screen and (min-width: 992px) {
  .mainArticle {
    padding-top: 3vh; } }

.mainPanoramica img {
  height: 35vh;
  width: 100%;
  border-radius: 15px;
  box-shadow: 5px 3px 5px 5px rgba(87, 93, 95, 0.2);
  margin: 5vh auto 2vh auto; }
  @media only screen and (min-width: 576px) {
    .mainPanoramica img {
      height: 45.5vh; } }
  @media only screen and (min-width: 992px) {
    .mainPanoramica img {
      height: 70vh;
      margin-bottom: 5vh; } }
  @media only screen and (min-width: 1200px) {
    .mainPanoramica img {
      height: 500px; } }

.containerUbicacion .mapaGoogle {
  height: 45.5vh;
  width: 90%;
  border-radius: 8vh;
  box-shadow: 10px 3px 10px 10px rgba(87, 93, 95, 0.2);
  margin: 4vh 0; }

@media only screen and (min-width: 0px) {
  .containerUbicacion .formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vh  0;
    width: 90%;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
    .containerUbicacion .formulario .formularioContacto {
      width: 100%;
      display: flex;
      flex-direction: column; }
      .containerUbicacion .formulario .formularioContacto .formComentarios {
        resize: none; }
    .containerUbicacion .formulario .fotoIngreso {
      display: none; } }

@media only screen and (min-width: 576px) {
  .containerUbicacion .mapaGoogle {
    height: 52.5vh; }
  .containerUbicacion .formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
    .containerUbicacion .formulario .formularioContacto {
      width: 90%;
      display: flex;
      flex-direction: column; } }

@media only screen and (min-width: 992px) {
  .containerUbicacion .mapaGoogle {
    height: 59.5vh; }
  .containerUbicacion .textoComoLLegar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
  .containerUbicacion .formulario {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 40vw;
    height: 43vh;
    margin-bottom: 4vh; }
    .containerUbicacion .formulario .fotoIngreso {
      display: flex;
      width: 40vw;
      height: 40vh;
      border-radius: 15px; }
  .containerUbicacion .tituloFormulario {
    text-align: center;
    -webkit-text-stroke: 0.5px white;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin: 4vw; }
  .containerUbicacion .formularioContacto {
    width: 30vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 1vh; }
  .containerUbicacion .formNombre:focus, .containerUbicacion .formEmail:focus, .containerUbicacion .formComentarios:focus {
    border: 0.1vw solid #9ce2f1;
    border-radius: 15px;
    background-color: #eef8f5; }
  .containerUbicacion .btnEnviar {
    background-color: transparent;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 1.5vw;
    font-family: 'Permanent Marker', cursive; }
    .containerUbicacion .btnEnviar:hover {
      background-color: #9ce2f1;
      box-shadow: 1vw 1vh 5vh #9ce2f1;
      border-radius: 10px;
      font-size: 1.5vw;
      font-family: 'Permanent Marker', cursive;
      transform: scale(0.95, 0.95);
      cursor: pointer;
      color: black; } }

@media only screen and (min-width: 1200px) {
  .containerUbicacion .mapaGoogle {
    height: 400px;
    margin-top: 50px; }
  .containerUbicacion .formulario {
    width: 992px;
    height: 370px;
    margin-bottom: 4vh; }
    .containerUbicacion .formulario .fotoIngreso {
      width: 420px;
      height: 300px;
      border-radius: 15px; }
    .containerUbicacion .formulario .formularioContacto {
      width: 420px;
      height: 300px;
      display: flex;
      flex-direction: column; } }

@media only screen and (min-width: 0px) {
  .mainServicios .tituloServicios {
    margin-top: 4vh; }
  .mainServicios .iconosServicios {
    font-size: 12vw;
    letter-spacing: 1.5vw;
    text-align: center;
    color: #193602;
    -webkit-text-stroke: 2px white;
    text-shadow: 0 0 10px;
    animation-name: cambioColorIcono;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; }
  @keyframes cambioColorIcono {
    0% {
      color: black; }
    100% {
      color: #193602; } }
  .mainServicios .mainArticleServicios {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; } }

@media only screen and (min-width: 576px) {
  .mainServicios .tituloServicios {
    font-size: 7vw;
    padding-top: 4vh; }
  .mainServicios .iconosServicios {
    font-size: 10vw;
    padding-bottom: 3vw;
    text-align: center;
    color: #193602;
    -webkit-text-stroke: 2px white;
    text-shadow: 0 0 10px; }
  .mainServicios .mainArticleServicios {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; } }

@media only screen and (min-width: 992px) {
  .mainServicios .tituloServicios {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    -webkit-text-stroke: 1px white;
    width: 15vw;
    text-align: center; }
  .mainServicios .iconosServicios {
    font-size: 7vw;
    color: #193602;
    -webkit-text-stroke: 4px white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #193602;
    -webkit-text-stroke: 2px white;
    text-shadow: 0 0 10px;
    width: 25vw; }
    .mainServicios .iconosServicios i {
      padding: 5vh; }
  .mainServicios .fa-user-shield:hover, .mainServicios .fa-wifi:hover, .mainServicios .fa-car:hover, .mainServicios .fa-broom:hover {
    transform: scale(1.2, 1.2);
    color: #9ce2f1; }
  .mainServicios .mainArticleServicios {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; } }

@media only screen and (min-width: 1200px) {
  .mainServicios .tituloServicios {
    font-size: 96px;
    width: 100px; }
  .mainServicios .iconosServicios {
    width: 200px;
    margin-top: 50px; }
    .mainServicios .iconosServicios i {
      font-size: 84px;
      padding: 28px;
      width: 300px; } }

@media only screen and (min-width: 0px) {
  .mainPrecios .tituloPrecios {
    font-size: 7vw;
    margin-top: 4vh; }
  .mainPrecios .articlePrecios {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
  .mainPrecios .textoVerifique {
    font-size: 7vw;
    margin: 2vh 0; }
  .mainPrecios .calendario {
    order: 2; }
  .mainPrecios .googleCalendar {
    width: 90vw;
    margin: 2vh 0; } }

@media only screen and (min-width: 576px) {
  .mainPrecios .tituloPrecios {
    margin-top: 3vh; }
  .mainPrecios .articlePrecios .textoPrecios {
    padding-top: 2vh;
    width: 70vw; }
  .mainPrecios .textoVerifique {
    padding-top: 3vh; }
  .mainPrecios .googleCalendar {
    width: 70vw; } }

@media only screen and (min-width: 992px) {
  .mainPrecios {
    padding: 5vh 0; }
    .mainPrecios .tituloPrecios {
      font-size: 2.5vw;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      -webkit-text-stroke: 0.5px white;
      width: auto;
      text-align: center; }
    .mainPrecios .articlePrecios {
      width: 30vw;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center; }
      .mainPrecios .articlePrecios .textoPrecios {
        width: 30vw; }
    .mainPrecios .textoVerifique {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      font-family: 'Permanent Marker';
      font-size: 2.5vw;
      color: black;
      -webkit-text-stroke: 0.5px white;
      width: auto; }
    .mainPrecios .googleCalendar {
      width: 35vw;
      height: 50vh;
      border-radius: 10px; } }

@media only screen and (min-width: 1200px) {
  .mainPrecios {
    padding: 36px 0; }
    .mainPrecios .tituloPrecios {
      font-size: 36px;
      width: 100px;
      padding-left: 30px; }
    .mainPrecios .articlePrecios {
      width: 450px; }
      .mainPrecios .articlePrecios .textoPrecios {
        width: 450px; }
    .mainPrecios .textoVerifique {
      font-size: 36px;
      width: 100px;
      padding-left: 30px; }
    .mainPrecios .googleCalendar {
      width: 450px;
      height: 300px;
      border-radius: 10px; } }

.video, .carousel-item img {
  object-fit: fill;
  border-radius: 10px; }
  @media only screen and (min-width: 0px) {
    .video, .carousel-item img {
      width: 95vw;
      height: 40vh; } }
  @media only screen and (min-width: 576px) {
    .video, .carousel-item img {
      width: 80vw;
      height: 70vh;
      padding-bottom: 2vh; } }
  @media only screen and (min-width: 992px) {
    .video, .carousel-item img {
      width: 60vw;
      height: 70vh; } }
  @media only screen and (min-width: 1200px) {
    .video, .carousel-item img {
      width: 900px;
      height: 500px; } }

p {
  font-family: "Courgette", cursive;
  color: #292929;
  text-align: justify;
  padding: 1.5vh 0;
  width: 90%; }
  @media only screen and (min-width: 0px) {
    p {
      font-size: 3.5vw; } }
  @media only screen and (min-width: 576px) {
    p {
      font-size: 2.5vw; } }
  @media only screen and (min-width: 992px) {
    p {
      font-size: 1.3vw; } }
  @media only screen and (min-width: 1200px) {
    p {
      font-size: 16px; } }

p::first-letter {
  font-size: 150%;
  font-weight: bold;
  color: #000064; }

h3 {
  font-family: "Permanent Marker", cursive;
  color: black;
  text-align: center; }

/* formato pantalla XL*/
@media only screen and (min-width: 1200px) {
  .body {
    width: 1200px;
    margin: auto; } }
