*{
    margin: 0;
    padding: 0;
}
.body{
    background: rgb(207,241,249);
    background: linear-gradient(45deg, rgb(187, 233, 243) 0%, rgba(250,255,253,1) 34%, rgba(181, 240, 207, 0.74) 100%);
}

/*-----HEADER-----*/
.contenedorHeader{
    background-image: url('../images/fondoHeaderEditado.jpg');
    background-color: rgb(100, 100, 100);
    background-blend-mode: overlay;
    font-family: 'Courgette', cursive;
    background-size: cover;
    height: 30vh;
}

    /*-----NAV-----*/

.navItems{
    list-style-type: none;
}    

.navItems li a{
    text-decoration: none;
    color: black;
    font-size: 3vw;
    font-family: 'Permanent Marker', cursive;
    padding-right: 3vw;

}

.mainArticle p, .textoServicios, .sectionLMapa p, .textoPrecios{
    font-family: 'Courgette', cursive; 
    color: black;
}

/*-----FOOTER-----*/
.footer{  
    border-top: solid rgb(0, 0, 0) 3px;     
}

.footerCopyRight{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vmin;
}

.socialMediaLinks{
    font-size: 3vh;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 80%;
}

.socialMediaLinks li i{
    font-size: 8vh;
}
/*  ICONOS FOOTER   */
.fa-twitter-square{
    color:  #3b5998;
}
.fa-twitter-square{
    color: #00acee;
}
.fa-instagram-square{
    color:#bc1888;
}
.fa-whatsapp-square{
    color:#25D366;
}
.fa-envelope-square{
    color: black;
}

.tituloFormulario, .tituloServicios, .tituloPrecios, .textoVerifique, .tituloVideo, .fotos h2, .carousel-inner h2{
    font-family: 'Permanent Marker'; 
    font-size: 4vw;
    color: black;
    width: 100%;   
    text-align: center;
    padding: 2vh 0;    
}


@media only screen and (max-width: 575px) {

    .navbar{
        position: absolute;
        margin-top: 3vh;
        margin-left: 2vw;
    }
    
    .header{
        height: 30vh;    
        border: solid white 3px;
    }

    .headerLogo{ 
        font-size: 9vw;  
        padding-left: 5vw; 
        padding-top: 8vh;

    }
    .headerSlogan{
        font-size: 2.5vw; 
        padding-left: 3vw; 
        
    }
    .nav{
        display: none;
    }

    .mainPanoramica img{
        height: 45vh;
        width: 100%; 
        border-radius: 15px;
        box-shadow: 5px 3px 5px 5px rgba(87, 93, 95, 0.2);
        margin-top: 5vh;
    }

    .mainArticle p, .textoServicios, .articleServicios, .parrafoComoLlegar, .articlePrecios p{
        font-size: 3.5vw;
        width: 90%;
        text-align: justify;
        padding: 1vh 0;    
    }
    
    .footer{
        height: 25vh;        
        background-color: rgb(203, 234, 241);
    }

    .footerExternalLink{
        display: none;
    }

    /*Ubicacion*/
    .formularioPC{
        display: none;
    }

    .sectionLMapa iframe{
        height: 40vh;
        width: 90%;
        
        border-radius:  8vh;   
        box-shadow: 10px 3px 10px 10px rgba(87, 93, 95, 0.2);
        margin: 2vh 0;
    }
    .tituloComoLlegar{
        font-size: 3.5vw;
        font-family: 'Permanent Marker';
        padding: 2vh 0;
    }

    .tituloFormulario{
        text-align: center;
        padding-top: 1.5vh;
    }

    .formularioContacto{
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .formulario{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2vh 0 4vh 0;
        width: 90%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .fotoIngreso{
        display: none;
    }

    /*servicios*/

    .tituloServicios{
        font-size: 7vw;
    }

    .iconosServicios {
        font-size: 12vw;
        padding: 1vw;
        text-align: center;
        color: rgb(25, 54, 2) ;
        -webkit-text-stroke: 2px rgb(255, 255, 255);
        text-shadow: 0 0 10px ;
    }

    .mainArticleServicios{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*precios*/

    .calendario{
        order: 2;
    }

    .calendario iframe{
        width: 70vw;
        margin-bottom: 3vh;
    }

    .articlePrecios{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textoPrecios{
        padding-top: 2vh;
        width: 90%;
    }

    .textoVerifique{
        padding-top: 3vh;
    }

    /*galeria*/

    .carousel-item img, .fotos iframe{
        width: 90vw;
        height: 50vh;
        padding-bottom: 2vh;
        object-fit: cover;
    }

    .fotos h2 a{
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
        font-size: 3vw;
    }
}    

@media only screen and (max-width: 991px) and (min-width: 576px) {

    .navbar{
        display: none;
    }

    .headerLogo{ 
        font-size: 7vw;  
        padding-left: 5vw; 
        padding-top: 10vh;
    }

    .headerSlogan{
        font-size: 2vw; 
        padding-left: 3vw;     
    }    
    
    .nav{
        background-color: rgb(156, 226, 241);  
        border-top: solid white 3px;  
        border-bottom: solid white 3px; 
        height: 7vh;    
        position: sticky;
        top: 0;  
    }  

    .navItems li a{
        font-size: 3vh;
        list-style-type: none;
    }
    .navItems li a{
        text-decoration: none;
        color: black;
        font-size: 3vw;
        padding-right: 1vw;
    }    

    .mainPanoramica{
        display: flex;
        align-items: center;  
        justify-content: center;
        padding-bottom: 7vh;      
    }
    
    .mainPanoramica img{
        height: 45vh;
        width: 100%; 
        border-radius: 15px;
        box-shadow: 5px 3px 5px 5px rgba(87, 93, 95, 0.2);
        margin-top: 5vh;
    }

    .mainArticle p, .textoServicios, .articleServicios, .tituloComoLlegar, .textoPrecios{
        font-size: 2.5vw;
        width: 95%;
        text-align: justify;
        padding-bottom: 3vh;    
    }

    .footer{
        height: 25vh;
    }

    .footerCopyRight{
        font-size: 2vh;
        margin-bottom: 2vh;
    }

    .socialMediaLinks li{
        margin-top: 5vh;
    }

    .socialMediaLinks li i{
        font-size: vh;
    }
    
    .footerExternalLink{
        display: none;
    }

    /*Ubicacion*/

    .formularioPC{
        display: none;
    }

    .tituloComoLlegar{
        font-family: 'Permanent Marker'; 
        font-size: 3.5vw;
        color: black;  
        text-align: center;
        margin-top: 4vh;
    }

    .parrafoComoLlegar{
        text-align: center;
        font-size: 2.5vw;
        padding-bottom: 2vh;
    }
    .tituloFormulario{
        text-align: center;
        padding-top: 1.5vh;
    }

    .mapaGoogle{
        height: 50vh;
        width: 65vw;
        margin-top: 5vh;
        border-radius:  8vh;   
        box-shadow: 10px 3px 10px 10px rgba(87, 93, 95, 0.2);
    }

    .sectionLMapa h2{
        font-family: 'Permanent Marker', cursive;
        padding-bottom: 1vh;
    }

    .tituloFormulario{
        text-align: center;
        padding-top: 2vh;
    }

    .formularioContacto{
        width: 90%;
        display: flex;
        flex-direction: column;
        padding-bottom: 5vh;        
    }
    .formulario{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2vh;
        width: 90%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .fotoIngreso{
        display: none;
    }


    /*servicios*/

    .tituloServicios{
        font-size: 7vw;
        padding-top: 4vh;
    }

    .iconosServicios {
        font-size: 10vw;
        padding-bottom: 3vw;
        text-align: center;
        color: rgb(25, 54, 2) ;
        -webkit-text-stroke: 2px rgb(255, 255, 255);
        text-shadow: 0 0 10px ;
    }

    .mainArticleServicios{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .textoServicios{
        font-size: 2.5vw;
    }

    /*precios*/

    .calendario{
        order: 2;
    }

    .calendario iframe{
        width:60vw;        
        padding: 0 0 5vh 0;
    }

    .articlePrecios{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tituloPrecios{
        margin-top: 3vh;
    }

    .textoPrecios{
        padding-top: 2vh;
        width: 90%;
    }

    .textoVerifique{
        padding-top: 3vh;
    }

    /*galeria*/

    .fotos img, .fotos iframe{
        width: 80vw;
        height: 40vh;
        padding-bottom: 2vh;
    }


    .carousel-item img{
        width: 80vw;
        height: 40vh; 
    }

    .fotos h2 a{
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
        font-size: 3vw;
    }

}

@media only screen and (min-width: 992px) {

    .navbar{
        display: none;
    }

    .headerLogo{ 
        font-size: 5vw;  
        padding-right: 3vw;
        padding-top: 10vh;
        -webkit-text-stroke: 2px rgb(19, 97, 4);
    }

    .headerSlogan{
        font-size: 1.5vw; 
        padding-right: 2vw;       
    }    
    
    .nav{
        background-color: rgb(156, 226, 241);  
        border-top: solid white 3px;  
        border-bottom: solid white 3px; 
        height: 7vh;      
    }
    
    .btnInicio:hover, .btnUbicacion:hover, .btnServicios:hover, .btnPrecios:hover, .btnGaleria:hover{
        transform: scale(1.4, 1.4);
        transition: .3s;
        text-shadow: rgb(248, 243, 216) 0vw 0vh 30px;
    }

    .navItems li a{
        font-size: 1.6vw;
        list-style-type: none;
        -webkit-text-stroke: .5px rgb(255, 255, 255);
    }

    .mainPanoramica img{
        height: 65vh; 
        border-radius: 15px;
        box-shadow: 10px 3px 10px 10px rgba(87, 93, 95, 0.2);
        margin-bottom: 5vh;
    }
    
    .mainArticle{
        margin-top: 4vh;
        margin-bottom: 3vh;
    }

    .mainArticle p, .textoServicios, .sectionLMapa p, .articleServicios, .textoPrecios{
        font-size: 1.3vw;
        width: 90%;
        text-align: justify; 
        padding: 2vh 0;    
    }

    .footer{
        height: 20vh;
        border-top: solid 3px black;
    }
    
    .footerCopyRight{
        font-size: 1vw;
        margin-bottom: 0%;
    }

    .socialMediaLinks{
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        width: 40%;
    }

    .socialMediaLinks li a i{
        font-size: 7vh;
        margin: 0 1vw;
    }

    .btnFB:hover, .btnTW:hover, .btnIG:hover, .btnWA:hover, .btnMail:hover{
        transform: scale(1.3, 1.3);
        transition: .3s;
    }

    .socialMediaLinks li i{
        font-size: 6vh;
    }
    
    .footerExternalLink a{
        font-size: 1.2vw;
        padding-right: 2vw;
        color: rgb(1, 1, 105);
    }

    /*Ubicacion*/

    .mapaGoogle{
        height: 60vh;
        width: 75vw;
        margin-top: 5vh;
        margin-bottom: 3vh;
        border-radius:  8vh;   
        box-shadow: 10px 3px 10px 10px rgba(87, 93, 95, 0.2);
    }

    .textoComoLLegar{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .sectionLMapa h2{
        font-family: 'Permanent Marker', cursive;
        padding: 2vh 5vh;    
    }

    .formulario{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 30vw;
        height: 43vh;
        margin: 5vh 0;
    }

    .fotoIngreso{
        width: 30vw;
        height: 42vh; 
        border-radius: 15px;
    }

    .tituloFormulario{
        text-align: center;
        -webkit-text-stroke: .5px rgb(255, 255, 255);
        font-size: 2.5vw;    
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        padding-bottom: 2vw;
    }

    .formularioContacto{
        width: 30vw;
        height: 50vh;
        display: flex;
        flex-direction: column;        
    }
    
    .btnEnviar{
        background: transparent;
        border: 3px solid green;
        border-radius: 10px;
        font-size: 1.5vw;
        font-family: 'Permanent Marker', cursive;
    }

    .btnEnviar:hover{
        background: rgb(154, 255, 154);
        box-shadow: 1vw 2vh 6vh rgb(154, 255, 154);
        border-radius: 10px;
        font-size: vw;
        font-family: 'Permanent Marker', cursive;
        transform: scale(.9,.9);
        cursor: pointer;
    }


    /*servicios*/

    .tituloServicios{
        font-size: 7vw;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        -webkit-text-stroke: 1px rgb(255, 255, 255);
        width: 15vw;
        text-align: center;
    }

    .iconosServicios {
        font-size: 7vw;        
        color: rgb(25, 54, 2) ;
        -webkit-text-stroke: 4px rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: center;  
        color: rgb(25, 54, 2) ;
        -webkit-text-stroke: 2px rgb(255, 255, 255);
        text-shadow: 0 0 10px ; 
        width: 25vw; 
        text-align: center;
    }

    .iconosServicios i{
        padding: 4vh;
    }    

    .fa-user-shield:hover, .fa-wifi:hover, .fa-car:hover, .fa-broom:hover{
        transform: scale(1.2, 1.2);
        color: green;
    }

    .mainArticleServicios{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /*precios*/

    .mainPrecios{
        padding-top: 3vh;
    }
    .calendario{
        width: 30vw;
        height: 45vh;        
    }

    .calendario iframe{
        width:33vw;
        height: 45vh;
        border-radius: 10px;
    }

    .tituloPrecios{
        font-size: 2.5vw;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        -webkit-text-stroke: 2px rgb(255, 255, 255);
        width:auto;
        text-align: center;
    }
    .articlePrecios{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .textoPrecios{
        font-size: 1.5vw;
        padding-bottom: 2vh;
    }
    .textoVerifique{
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        font-family: 'Permanent Marker'; 
        font-size: 2.5vw;
        color: black;
        -webkit-text-stroke: .5px rgb(255, 255, 255);    
        width: auto;    
    }

    /*galeria*/

    .carousel-item img, .fotos iframe{
        width: 70vw;
        height: 70vh;
        object-fit: cover;
        border-radius: 10px;
    }

}