.mainPrecios{
    @include pantalla(xs){
        .tituloPrecios{
            font-size: 7vw;
            margin-top: 4vh;
        }
        .articlePrecios{
            @include flex (column);
        }
        .textoVerifique{
            font-size: 7vw;
            margin: 2vh 0;
        }
        .calendario{
            order: 2;
        }            
        .googleCalendar{
            width: 90vw;
            margin: 2vh 0;
        }
    }

    @include pantalla(sm){
        .tituloPrecios{
            margin-top: 3vh;
        }
        .articlePrecios{
            .textoPrecios{
                padding-top: 2vh;
                width: 70vw;
            }
        }
        .textoVerifique{
            padding-top: 3vh;
        }  
        .googleCalendar{
            width: 70vw;
        }
    }

    @include pantalla(lg){
        padding: 5vh 0;

        .tituloPrecios{
            font-size: 2.5vw;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            -webkit-text-stroke: .5px rgb(255, 255, 255);
            width:auto;
            text-align: center;
        }
        .articlePrecios{
            width: 30vw;
            @include flex(column);
            .textoPrecios{
                width: 30vw;
            }
        }
        .textoVerifique{
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            font-family: 'Permanent Marker'; 
            font-size: 2.5vw;
            color: black;
            -webkit-text-stroke: .5px rgb(255, 255, 255);    
            width: auto;     
        }
        .googleCalendar{
            width:35vw;
            height: 50vh;
            border-radius: 10px;
        }
    }   
    @include pantalla(xl){
        padding: 36px 0;

        .tituloPrecios{
            font-size: 36px;
            width:100px;
            padding-left: 30px;
        }
        .articlePrecios{
            width: 450px;
            .textoPrecios{
                width:450px;
            }
        }
        .textoVerifique{
            font-size: 36px;   
            width: 100px;  
            padding-left: 30px;  
        }
        .googleCalendar{
            width:450px;
            height: 300px;
            border-radius: 10px;
        }
    } 
}