.mainServicios{
    @include pantalla(xs){
        .tituloServicios{
            margin-top: 4vh;
        }
        .iconosServicios {
            font-size: 12vw;
            letter-spacing: 1.5vw ;
            text-align: center;
            color: rgb(25, 54, 2) ;
            -webkit-text-stroke: 2px rgb(255, 255, 255);
            text-shadow: 0 0 10px ;
            animation-name: cambioColorIcono;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
        @keyframes cambioColorIcono {
            0% { color: black;}
            100% { color: rgb(25, 54, 2); }
        }
        .mainArticleServicios{
            @include flex(column);
        }
    }

    @include pantalla(sm){
        .tituloServicios{
        font-size: 7vw;
        padding-top: 4vh;
        }
        .iconosServicios {
            font-size: 10vw;
            padding-bottom: 3vw;
            text-align: center;
            color: rgb(25, 54, 2) ;
            -webkit-text-stroke: 2px rgb(255, 255, 255);
            text-shadow: 0 0 10px ;
        }
        .mainArticleServicios{
            @include flex(column);
        }
    }

    @include pantalla(lg){
        .tituloServicios{
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            -webkit-text-stroke: 1px rgb(255, 255, 255);
            width: 15vw;
            text-align: center;
        }
        .iconosServicios {
            font-size: 7vw;        
            color: rgb(25, 54, 2) ;
            -webkit-text-stroke: 4px rgb(255, 255, 255);
            @include flex(column);  
            color: rgb(25, 54, 2) ;
            -webkit-text-stroke: 2px rgb(255, 255, 255);
            text-shadow: 0 0 10px ; 
            width: 25vw; 
        }
        .iconosServicios i{
            padding: 5vh;
        }    

        .fa-user-shield:hover, .fa-wifi:hover, .fa-car:hover, .fa-broom:hover{
            transform: scale(1.2, 1.2);
            color: $colorFondoNav;
        }

        .mainArticleServicios{
            @include flex(column);
        }
    }
}
