.mainArticle{
    @include pantalla(lg){
        padding-top: 3vh;
    }
}

.mainPanoramica img{
    height: $alturaImagenes;
    width: 100%; 
    border-radius: 15px;
    box-shadow: 5px 3px 5px 5px rgba(87, 93, 95, 0.2);
    margin: 5vh auto 2vh auto;
    @include pantalla(sm){
        height: $alturaImagenes*1.30;
    }
    @include pantalla(lg){
        height: $alturaImagenes*2; 
        margin-bottom: 5vh;
    }
    @include pantalla(xl){
        height: 500px;
    }
}