.navbar{
    @include pantalla(xs){
    position:fixed ;
        z-index: 10;
        margin-top: 2vh;
        margin-left: 4vw;
        padding: 0;

        .navbar-toggler-icon, .navbar-toggler, .collapse{
            color: black;
            font-size: 5vw;
            background-color: $colorFondoNav;
            font-family: $fontFamilyTitulo;
        }
        .collapse{
            border: solid black 3px;
        }
        .nav-item a::before {
            content: '■  ';
            color: rgb(226, 226, 88); 
        }   
    }
    @include pantalla(sm){    
    display: none;   
    }
}

.nav{
    height: 7vh;
    background-color: $colorFondoNav;
    border-top: $borderHeader;
    border-bottom: $borderHeader;
    .navItems li a{
        text-decoration: none;
        color:$fontColorTitulo;
        font-size: 2vw;
        font-family: $fontFamilyTitulo;
        padding-right: 3vw;
    }
    @include pantalla(xs){
        display: none;
    }

    @include pantalla(sm){
        display: flex;
        position: relative;
        top: 0;  
        .navItems li a{
            height: 100%;
            text-decoration: none;
            color: black;
            font-size: 2.5vw;
            padding-right: 1vw;
        }
    }

    @include pantalla(lg){
    .navItems{
        animation: aparece 3s ;
    
        @keyframes aparece {
            from {
                opacity: 0;
            }
            to{
                opacity: 1;
            }
            }    
        
            li a{
                font-size: 1.6vw;
                -webkit-text-stroke: .5px rgb(255, 255, 255);
                padding-right: 3vw;
                @include pantalla(xl){
                    font-size: 24px;
                    padding-right: 36px;
                }
            }
        
            .btnInicio:hover, .btnUbicacion:hover, .btnServicios:hover, .btnPrecios:hover, .btnGaleria:hover{
                transform: scale(1.4, 1.4);
                transition: .3s;
                text-shadow: rgb(248, 243, 216) 0vw 0vh 30px;
            }
        }
    }
} 