*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
body{
    background: rgb(207,241,249);
    background: linear-gradient(45deg, rgb(187, 233, 243) 0%, rgba(250,255,253,1) 34%, rgba(181, 240, 207, 0.74) 100%);
}



@import "variables.scss";
@import "header.scss";
@import "nav.scss";
@import "footer.scss";
@import "mainIndex.scss";
@import "mainUbicacion.scss";
@import "mainServicios.scss";
@import "mainPrecios.scss";
@import "mainGaleria.scss";

p{
    font-family: $fontFamilyParrafo;
    color: $fontColorParrafo;
    text-align: justify;
    padding: 1.5vh 0;
    width: 90%;
    @include pantalla(xs){
        font-size: 3.5vw;
    }
    @include pantalla(sm){
        font-size: 2.5vw;
    }
    @include pantalla(lg){
        font-size: 1.3vw;
    }
    @include pantalla(xl){
        font-size: 16px;
    }
}
p::first-letter{
    font-size: 150%;
    font-weight: bold;
    color: rgb(0, 0, 100);
}

h3{
    font-family: $fontFamilyTitulo;
    color: $fontColorTitulo;
    text-align: center;
    
}

/* formato pantalla XL*/

@media only screen and (min-width: 1200px){
    .body{
        width: 1200px;
        margin: auto;
    }

}